@font-face {
    font-family: 'ssangmundong';
    src: url(./font/Typo_SsangmunDongB.ttf) format('truetype');
 } 
 @font-face {
    font-family: 'storm';
    src: url(./font/Typo_StormB.ttf) format('truetype');
 } 
   